<h1>Listings </h1>

  <%@listings.each do |listing|%>
  <br/>
  <hr>
  <strong> Title:</strong> <%=listing.title%>
  <br/>
  <strong>Posted by Host_id: </strong><%=listing.host_id%>
  <br/>
  <strong> Description:</strong> <%=listing.description%>
<%end%>
<hr>
